/*Я надеюсь, все получится*/
@font-face {
    font-family: "GentiumBookBold";
    src: url("../fonts/gentium-book-basic-bold.ttf") format("TrueType");
    font-style: normal;
    font-weight: normal; }
    @font-face {
        font-family: "YesevaOne";
        src: url("../fonts/yeseva-one.ttf") format("TrueType");
        font-style: normal;
        font-weight: normal; }
        @font-face {
            font-family: "LatoRegular";
            src: url("../fonts/lato-regular.ttf") format("TrueType");
            font-style: normal;
            font-weight: normal; }
            @font-face {
                font-family: "OpenSans";
                src: url("../fonts/open-sans.ttf") format("TrueType");
                font-style: normal;
                font-weight: normal; }
                @font-face {
                    font-family: "OpenSansBold";
                    src: url("../fonts/open-sans-bold.ttf") format("TrueType");
                    font-style: normal;
                    font-weight: normal; }
.nav{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.8), transparent); */
    background-image: url(../source/header-grad.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 110px;
    width: 1600px;
    display: flex;
    justify-content: center;
    }
.into-nav{
    /* background-color: aquamarine; */
    flex-basis:1280px ;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.logo-nav{
    margin-left: 20px;
    flex-basis: 164px;
}

.logo-p-nav{
    font-family: YesevaOne;
    color: white;
    font-size: 2.2em;
    margin-top: 42px;
    letter-spacing: 1px;
}
.home-nav{
    margin-left: 217px;
    flex-basis: 82px;           
    /*background-color: antiquewhite;*/
    text-align: center;
    line-height: 123px;
}
.about-nav{
    margin-left: 23px;
    flex-basis: 82px;
    text-align: center;
    line-height: 123px;
}
.ingredients-nav{
    flex-basis: 140px;
    text-align: center;
    line-height: 123px;
    margin-left: 18px;
}
.menu-nav{
    flex-basis: 82px;
    text-align: center;
    line-height: 123px;
    margin-left: 15px;
}
.reviews-nav{
    flex-basis: 110px;
    text-align: center;
    line-height: 123px;
    margin-left: 18px;
}
.reservations-nav{
    /* background-color: blueviolet; */
    flex-basis: 150px;
    text-align: center;
    line-height: 123px;
    margin-left: 19px;
}
.nav-menu__link{
    color: white;
    text-decoration: none;
    font-family:GentiumBookBold;
    font-size: 1.4em;
}
.nav-menu__link:hover {
    content: '';
    position: relative;
    display: block;
    height: 3px;
    width: 100%;
    background-color: #c8c5bc; }
.socials__item{
    margin-top: 53px;
    margin-left: 8px;
}
.socials__item2{
    margin-top: 53px;
    margin-left: 19px;
}
.socials__item3{
    margin-top: 53px;
    margin-left: 17px;
}
.socials-link{
    text-decoration: none;
    color: #cc9900;
}
.socials-link:hover{
    color: #ffffff;
}
body
{
    margin: 0px;
}
.header-page{
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: center;
    
 }            
.main-page-home{
    margin-left: auto;
    margin-right: auto;
    background-image: url(../source/Bg.png);
    width: 1600px;
    background-position: center;
    height: 750px;
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.text-home{
    margin-top: 170px;
    width: 970px;
    height: 250px;
    text-align: center;
}
.intro{
    font-family: YesevaOne;
    color: f0efef;
    font-size: 5.5em;
    line-height: 28px;
    letter-spacing: 1px;
}
.divider-home{
    margin-top: 15px;
}
.buttons-home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 78px;
    width: 570;
}
.button-book{
    background-color: rgba(0, 0, 0, 0.3);
    width: 230px;
    height: 58px;
    border: black solid 10px;
    border: 1px solid #000000; 
    margin-right: 15px;
}
.button-book:hover{
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid white;
}
.button-table{
    margin-left: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    /* background-color: rgba(255, 255, 255, 0.3); */
    width: 230px;
    height: 58px;
    border: 1px solid #000000;
    /* border: 1px solid white; */
}
.button-table:hover{
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
}
.button-text{
    font-family: LatoRegular;
    font-size: 17px;
    color: #ffffff;
}
.main-page-about{
    margin-left: auto;
    margin-right: auto;
    background-image: url(../source/pattern.png), url(../source/background.png);
    background-position: center;
    width: 1600px;
    height: 710px;
    color: #ffffff;
}

.about-wrapper{
    display: flex;
    flex-direction: row;
}
.about_info {
    max-width: 430px;
    margin: auto;
    display: flex;
    flex-direction: column;  
    margin-top: 100px; 
    margin-left: 285px;
    text-align: center;
    align-items: center; 
}

.about_title {  
    margin: auto;    
    font-size: 36px;
    font-weight: normal;
    font-family: YesevaOne;
    color: #cc9900;     
}

.about_info img{
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}
.about_text {
    font-family: LatoRegular;
    width: 100%;    
    opacity: 0.8;    
    line-height: 1.5; 
    color:rgb(10, 10, 10);
    margin: auto;
    margin-top: 20px;
}      
      
.about_cook {
    margin: auto;
    padding-left: 55px;
    padding-top: 50px;
    }   
    
.dish{
    margin: auto;
    margin-top: 55px;
    margin-right: 240px;   
}




.main-page-ingredients{
    margin-left: auto;
    margin-right: auto;
    background-image: url(../source/Bg2.png);
    background-position: center;
    background-size: cover;
    width: 1600px;
    height: 760px;
    display: flex;
    color: #ffffff;
}
.ingredients-pattern{
    background-image: url(../source/BgText1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 557px;
    max-width: 570px;
    margin: auto;
    margin-left: 51%;
    display: flex;
    flex-direction:column;
    color: #ffffff;}
.ingredients-title{
    text-align:center;
    font-family: YesevaOne;
    font-weight: normal;
    color: white;
    font-size: 2.2em;
    margin-top: 75px;
    margin-bottom: 0px;
    letter-spacing: 0.8px;}
.ingredients-text{
    text-align:justify;
    text-align-last:center;
    font-family: LatoRegular;
    color: white;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 13%;    
    margin-right: 13%;
    margin-bottom: 0;
    letter-spacing: 0.5px;
    line-height: 1.7;
}
.ingredients-image{
    width: 67%;
    height: 110px;
    margin:auto;
    display: block;
    text-align-last: justify;
}
.main-page-menu{
    margin-left: auto;
    margin-right: auto;
    background-image: url(../source/pattern2.png),url(../source/background2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1600px;
    height: 990px;
    color: #ffffff; 
}
/*.menu-pattern{
    /*background-image: url(../source/pattern2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: #ffffff;
    display: flex;}*/
.menu-back{
    height: 815px;
    width: 1170px;
    margin:auto;
    margin-top:93px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;}
.menu-column{
    height: 100%;
    width: 570px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;}
.menu-category{
    width: 455px;
    height: min-content;
    display:flex;
    margin:auto;
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: column;
    flex-wrap: wrap;
}
.menu-cathegory-title{
    font-family: YesevaOne;
    font-weight: normal;
    text-align: center;
    color: rgb(204, 153, 0);
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 1px;
    line-height: 1.4;
}
.menu-cathegory-divider{
    margin: auto;
}
.menu-dish{
    height: 85px; 
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 15px;
}
.dish-special {
    position: relative;
    border: 1px solid #cc9900; }
    .dish-special::before {
      content: 'Special';
      position: absolute;
      right: 0;
      transform: translateY(-100%);
      padding: 2px 13px;
      background-color: #c89f2d;
      font-size: 14px;
      color: #fff; }

.dish-name{
    display: inline-block;
    margin-block:0;
    margin-top: 5px;
    color: #c89f2d;
    font-family: 'YesevaOne';
    font-size: 16pt;
    font-weight: normal;
  }
  
.dish-price{
    display: inline-block;
    margin-top: 5px;
    color: #c89f2d;
    font-family: 'YesevaOne';
    font-size: 16pt;
    font-weight: normal;
    float: right;
  }
#menu hr{
    border: 0;
    height: 1px;
    background: #c89f2d;
    margin-bottom: 11px;

}
.dish-description{
    font-family: LatoRegular;
    font-weight: normal;
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin-top: 12px;
    letter-spacing: 1px;
    line-height: 1.4;

}
.main-page-reviews{
    margin-left: auto;
    margin-right: auto;
    background-image: url(../source/Bg3.png);
    background-position: center;
    background-size:cover ;
    width: 1600px;
    height: 760px;
    display: flex;
    color: #ffffff;
}
.reviews-pattern{
    background-image: url(../source/BgText3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 560px;
    width: 770px;
    margin: auto;
    text-align: center;
    color: #ffffff;
}
.reviews-title{
    font-family: YesevaOne;
    font-weight: normal;
    color: white;
    font-size: 2.2em;
    margin-top: 78px;
    margin-bottom: 0px;
    letter-spacing: 1px;}
    
.reviews-text{
    position: relative;
    font-family: GentiumBookBasicBold;
    color: white;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 75px;
    margin-right: 75px;
    letter-spacing: 1.2px;
    line-height: 1.8;
}
.reviews-text::before {
    content: '\275B\275B';
    position: absolute;
    font-family: 'Georgia';
    font-size: 64px;
    line-height: 0.8;
    opacity: 0.8;
    transform: translateX(-120%); }

.reviews-text::after {
    content:'- food inc, New York';
    text-align: center;
    position: absolute;
    display: block;
    width: 620px;
    padding: auto;
    padding-top: 30px;
    
    font-family: LatoRegular;
    color: white;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 1.8;
}
.main-page-reservations{
    margin-left: auto;
    margin-right: auto;
    background-image: url(../source/pattern3.png), url(../source/background3.png);
    background-position: center;
    background-size: cover;
    height: 710px;
    width: 1600px;
    color: #ffffff; 
}


.reservations_wrapper{
    height: 710px;
    width: 1600px;   
    display: flex;    
    flex-direction: row;  
    align-content: space-between;
    
}

.imgs{       
    min-width: 600px;
    height: 507px;
    margin: 100px;
    margin-left: 215px;
}


.reservations_info{
    display: flex;
    flex-direction: column; 
    width: 450px;
    margin: 100px;
    margin-left: -40px;
    text-align: center;        
    
}

.reservations_info img{
    margin:auto;
    margin-top: 20px;
    margin-bottom: 0px;
}

.reservations_info h2{
    position: relative;
    font-family: YesevaOne;
    margin: 0;
    margin-bottom: -10px;
    font-size: 36px;
    line-height: 0.9;
    font-weight: normal;
    color: #cc9900;
    text-align: center; }

    

.reservations_info p{
    font-family: LatoRegular;
     width: 100%;  
     margin-bottom: -5px;   
     line-height: 1.5; 
    color: rgb(0, 0, 0);
}

.reservations_info p~p{
    margin-bottom: 40px; 
    margin-left: 10px;
    width: 95%;
}

form {
    font-family: 'OpenSans', sans-serif; }

.form_wrapper{
    display: flex;
    margin: auto;
    flex-direction: column;
    margin-bottom: 12px;
}

.form_reservation{
    display: flex;
    flex-direction: row;
}

.form_column {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 50%; }

.form_column~.form_column{
    margin-left: 15px;
}
.reservations_form label{    
  font-size: 14px;
  margin-bottom: 7px;
  color: #cc9900;
  text-align: start;
  font-family: YesevaOne;
}

.form_field {
    box-sizing: border-box;    
    width: 200px;
    height: 36px;    
    border: 1px solid #c8c6c6;
    margin-bottom: 23px;
    line-height: normal;
    font-style: italic;
    font-family: OpenSans;
    font-size: 18px;
    color: #7c7c7c; }
::-webkit-input-placeholder {
        padding-left: 10px;
        padding-top: 8px;
}

.form_field option {
    font-size: 16px;
    font-style: italic;
    opacity: 0.2; 
    text-align: start;
}

.form_field:focus {
outline: none;
border: 1px solid #c9a131; 
}

.date_field{
    display: flex;
    flex-direction: row;
}

.date_field i{
    width: 5px;
    height: 5px;
    color: #000000;
    opacity: 0.6;
    margin: auto;
    margin-left: -25px;
    margin-top: 10px;
}

  ::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
    margin: auto;
    width: 20px;
    padding-left: 50px;
    padding-top: 0px;
    z-index: 1;
}

#btn {
  padding: 7px 63px 7px 63px;
  margin-top: 10px;
  align-self: center;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: #c9a131;
  font-size: 16px;
  line-height: 1.3;
  color: #fff; }
  #btn:disabled{
    background-color: rgb(197, 191, 191);
    }

  option{
    padding-left: 50px;
    color: #c89f2d;
  }

.main-page{
    position: relative;
    z-index: 1;
}
.footer-page{
    margin-left: auto;
    margin-right: auto;
    background-image: url(../source/footer-background.png);
    background-position: center;
    background-size: cover;
    height: 320px;
    width: 1600px;
    display: flex;
    flex-direction: row;
}
#info-footer{
    height: 218px;
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-about{
    width: 370px;
    margin-left: 215px;
}
.footer-img{
    width: 280px;
    margin-top: -35px;
}
.footer-caption{
    font-family: YesevaOne;
    color: #fefefe;
    font-size: 1.2em;
    letter-spacing: 1px;
    margin-top: 5px;
}
.footer-text{
    font-family: OpenSans;
    color: #ffffff;
    text-align: center;
    margin-top: -14px;
    line-height: 24px;
    word-spacing: 1px;
}
.footer-worktime{
    width: 230px;
    margin-left: 100px;
}
.footer-location{
    width: 230px;
    margin-left: 170px;
}
.footer-icons-pay{
    display: flex;
    flex-direction: row;
    color: #ffffff;
    width: 120px;
    justify-content: space-between;
    margin-top: 35px;
}
.footer-icons-socials{
    display: flex;
    flex-direction: row;
    width: 92px;
    justify-content: space-between;
    margin-top: 35px;
}
.socials-link2{
    text-align: none;
    color: #ffffff;
}
.socials-link2:hover{
    color: #cc9900;
}
.modal {
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 260px 0px;
  }    
  .modal_active {
    visibility: visible;
  }      
  .modal__close-button {
    /*background: #ff0000;*/
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    cursor: pointer;
    transition: .3s;
    outline: none;
  }
  .modal__close-button:hover {
    transition: .3s;
    transform: rotate(180deg);
  }
  .modal__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 50px;
    background: #f9f9f9;
    border-radius: 3px;
    position: relative;
    box-shadow: 0 5px 15px black;
  }
  .modal__title {
    position: relative;
    font-family: YesevaOne;
    font-size: 36px;
    line-height: 0.9;
    font-weight: normal;
    text-align: center;
  }
  .modal-divider{
    margin: auto;
    justify-self: center;

  } 
  .modal__description {
    font-size: 1.125rem;
  }