/* страшна очень страшна*/
@font-face {
    font-family: "GentiumBookBold";
    src: url("../fonts/gentium-book-basic-bold.ttf") format("TrueType");
    font-style: normal;
    font-weight: normal; }
    @font-face {
        font-family: "YesevaOne";
        src: url("../fonts/yeseva-one.ttf") format("TrueType");
        font-style: normal;
        font-weight: normal; }
.header-page{
    background-image: url(../source/Bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 770px;
    color: #ffffff;
    
}
.main-page-about{
    background-image: url(../source/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 730px;
    color: #ffffff;
}
.nav{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), transparent);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 109px;
    display: flex;
    justify-content: center;
}
.into-nav{
   /*background-color: aquamarine;*/
    flex-basis:1280px ;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.logo-nav{
    flex-basis: 175px;
   /* background-color: blueviolet;*/
}
/*.logo-img-nav{
    margin-top: -2px;
    margin-left: -8px;
    width: 175px;
}*/
.logo-p-nav{
    font-family: YesevaOne;
    color: white;
    font-size: 2.2em;
    margin-top: 42px;
    letter-spacing: 2px;
}
.home-nav{
margin-left: 220px;
flex-basis: 82px;

/*background-color: antiquewhite;*/
text-align: center;
line-height: 123px;
}
.about-nav{
    margin-left: 28px;
    flex-basis: 82px;
    text-align: center;
    line-height: 123px;
    }
.ingredients-nav{
    flex-basis: 140px;
    text-align: center;
    line-height: 123px;
    margin-left: 18px;
}
.menu-nav{
    flex-basis: 82px;
    text-align: center;
    line-height: 123px;
    margin-left: 19px;
}
.reviews-nav{
    flex-basis: 110px;
    text-align: center;
    line-height: 123px;
    margin-left: 25px;
}
.reservations-nav{
    flex-basis: 150px;
    text-align: center;
    line-height: 123px;
    margin-left: 18px;
}
.nav-menu__link{
    color: white;
    text-decoration: none;
    font-family:GentiumBookBold;
    font-size: 1.4em;

}
.nav-menu__link:hover {
    content: '';
    position: relative;
    display: block;
    height: 3px;
    width: 100%;
    background-color: #c8c5bc; }
body
{
    margin: 0px;
}
.about-pattern{
    background-image: url(../source/pattern.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 730px;
    color: #ffffff;
}
.main-page-ingredients{
    background-image: url(../source/Bg2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 780px;
    color: #ffffff;
}
.main-page-menu{
    background-image: url(../source/background2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1020px;
    color: #ffffff; 
}
.menu-pattern{
    background-image: url(../source/pattern2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1020px;
    color: #ffffff;
}
.main-page-reviews{
    background-image: url(../source/Bg3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 780px;
    color: #ffffff; 
}
.main-page-reservations{
    background-image: url(../source/background3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 730px;
    color: #ffffff; 
}
.reservations-pattern{
    background-image: url(../source/pattern3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 730px;
    color: #ffffff;
}