/*Я надеюсь, все получится*/
@font-face {
    font-family: "GentiumBookBold";
    src: url("../fonts/gentium-book-basic-bold.ttf") format("TrueType");
    font-style: normal;
    font-weight: normal; }
    @font-face {
        font-family: "YesevaOne";
        src: url("../fonts/yeseva-one.ttf") format("TrueType");
        font-style: normal;
        font-weight: normal; }
        @font-face {
            font-family: "LatoRegular";
            src: url("../fonts/lato-regular.ttf") format("TrueType");
            font-style: normal;
            font-weight: normal; }
.nav{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.8), transparent); */
    background-image: url(../source/header-grad.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 110px;
    width: 1600px;
    display: flex;
    justify-content: center;
    }
.into-nav{
    /* background-color: aquamarine; */
    flex-basis:1280px ;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.logo-nav{
    margin-left: 20px;
    flex-basis: 164px;
}

.logo-p-nav{
    font-family: YesevaOne;
    color: white;
    font-size: 2.2em;
    margin-top: 42px;
    letter-spacing: 1px;
}
.home-nav{
    margin-left: 217px;
    flex-basis: 82px;           
    /*background-color: antiquewhite;*/
    text-align: center;
    line-height: 123px;
}
.about-nav{
    margin-left: 23px;
    flex-basis: 82px;
    text-align: center;
    line-height: 123px;
}
.ingredients-nav{
    flex-basis: 140px;
    text-align: center;
    line-height: 123px;
    margin-left: 18px;
}
.menu-nav{
    flex-basis: 82px;
    text-align: center;
    line-height: 123px;
    margin-left: 15px;
}
.reviews-nav{
    flex-basis: 110px;
    text-align: center;
    line-height: 123px;
    margin-left: 18px;
}
.reservations-nav{
    /* background-color: blueviolet; */
    flex-basis: 150px;
    text-align: center;
    line-height: 123px;
    margin-left: 19px;
}
.nav-menu__link{
    color: white;
    text-decoration: none;
    font-family:GentiumBookBold;
    font-size: 1.4em;
}
.nav-menu__link:hover {
    content: '';
    position: relative;
    display: block;
    height: 3px;
    width: 100%;
    background-color: #c8c5bc; }
.socials__item{
    margin-top: 53px;
    margin-left: 8px;
}
.socials__item2{
    margin-top: 53px;
    margin-left: 19px;
}
.socials__item3{
    margin-top: 53px;
    margin-left: 17px;
}
.socials-link{
    text-decoration: none;
    color: #cc9900;
}
.socials-link:hover{
    color: #ffffff;
}
body
{
    margin: 0px;
}
.header-page{
    position: fixed;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    
 }            
.main-page-home{
    margin-left: auto;
    margin-right: auto;
    background-image: url(../source/Bg.png);
    width: 1600px;
    background-position: center;
    height: 750px;
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.text-home{
    margin-top: 170px;
    width: 970px;
    height: 250px;
    text-align: center;
}
.intro{
    font-family: YesevaOne;
    color: f0efef;
    font-size: 5.5em;
    line-height: 28px;
    letter-spacing: 1px;
}
.divider-home{
    margin-top: 15px;
}
.buttons-home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 78px;
    width: 570;
}
.main-page-about{
    margin-left: auto;
    margin-right: auto;
    background-image: url(../source/background.png);
    background-position: center;
    width: 1600px;
    height: 710px;
    color: #ffffff;
}

.about-pattern{
    background-image: url(../source/dish.png),url(../source/pattern.png);
    background-repeat: no-repeat,repeat;
    background-position:  right 25% bottom 45%, center;
    background-size: 39%, cover;
    height: 730px;    
    box-sizing: border-box;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-left: 185px;
    color: #ffffff;
}
.about_info {
    max-width: 430px;
    display: flex;
    flex-direction: column;   
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    align-items: center; }

.about_title {
    position: relative; 
    margin: 0;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: normal;
    font-family: YesevaOne;
    color: #cc9900; }
.about_title::before {
        content: '';
        position: absolute;
        width: 250px;
        height: 60px;
        background: url(..//source/gold_divider.png);
        background-repeat: no-repeat;
        background-size: 100%;
        left: 15%;        
        bottom: -170%; }
.about_text {
    font-family: LatoRegular;
     width: 100%;    
     opacity: 0.8;    
     line-height: 1.5; 
     color:rgb(10, 10, 10);}    

     
      
.about_cook {
        margin-top: 32px;
        margin-bottom: 15px;
        margin-left: 70px; }
    


.main-page-ingredients{
    margin-left: auto;
    margin-right: auto;
    background-image: url(../source/Bg2.png);
    background-position: center;
    background-size: cover;
    width: 1600px;
    height: 760px;
    display: flex;
    color: #ffffff;
}
.ingredients-pattern{
    background-image: url(../source/BgText1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 557px;
    flex-basis: 570px;
    margin: auto;
    margin-left: 51%;
    display: flex;
    flex-direction:column;
    color: #ffffff;}
.ingredients-title{
    text-align:center;
    font-family: YesevaOne;
    color: white;
    font-size: 2.2em;
    margin-top: 75px;
    margin-bottom: 0px;
    letter-spacing: 0.8px;}
.ingredients-divider{
    background-image: url(../source/Divider.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60px;
    width: 100%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;}
.ingredients-text{
    text-align:justify;
    text-align-last:center;
    font-family: LatoRegular;
    color: white;
    font-size: 15px;
    margin-top: 0px;
    margin-left: 13%;    
    margin-right: 13%;
    margin-bottom: 0;
    letter-spacing: 0.5px;
    line-height: 1.7;
}
.ingredients-image{
    width: 67%;
    height: 110px;
    margin:auto;
    display: block;
    text-align-last: justify;
}
.main-page-menu{
    margin-left: auto;
    margin-right: auto;
    background-image: url(../source/background2.png);
    background-position: center;
    background-size: cover;
    width: 1600px;
    height: 990px;
    color: #ffffff; 
}
.menu-pattern{
    background-image: url(../source/pattern2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: #ffffff;
}
.main-page-reviews{
    margin-left: auto;
    margin-right: auto;
    background-image: url(../source/Bg3.png);
    background-position: center;
    background-size:cover ;
    width: 1600px;
    height: 760px;
    display: flex;
    color: #ffffff;
}
.reviews-pattern{
    background-image: url(../source/BgText3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 560px;
    width: 770px;
    margin: auto;
    text-align: center;
    color: #ffffff;
}
.reviews-title{
    font-family: YesevaOne;
    color: white;
    font-size: 2.2em;
    margin-top: 78px;
    margin-bottom: 0px;
    letter-spacing: 1px;}
.reviews-divider{
    background-image: url(../source/Divider.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60px;
    width: 100%;
    margin: auto;
}
.reviews-text{
    font-family: GentiumBookBasicBold;
    color: white;
    font-size: 25px;
    margin-top: 0px;
    margin-left: 75px;
    margin-right: 75px;
    letter-spacing: 1.2px;
    line-height: 1.8;
}
.reviews-text::before {
    content: '\275B\275B';
    position: absolute;
    font-family: 'Georgia';
    font-size: 64px;
    line-height: 0.8;
    opacity: 0.8;
    transform: translateX(-120%); }
.reviews-end{
    font-family: LatoRegular;
    color: white;
    font-size: 17px;
    margin-top: 28px;
    letter-spacing: 1px;
    line-height: 1.8;
}
.main-page-reservations{
    margin-left: auto;
    margin-right: auto;
    background-image: url(../source/background3.png);
    background-position: center;
    background-size: cover;
    height: 710px;
    width: 1600px;
    color: #ffffff; 
}
.reservations-pattern{
    background-image: url(../source/pattern3.png);
    background-position: center;
    background-size: cover;
    padding: 100px;
    padding-left: 200px;
    height: 710px;
    width: 1600px;       
    display: flex;    
    color: #ffffff; 
    
}

.imgs{
    display: flex;
    
    width: 50%;
    min-width: 570px;
    margin: 0 15px;
}


.reservations_info{
    display: flex;
    flex-direction: column;
    width: 50%;
    
    padding-right: 500px;
    height: 600px;
    width: 500px;
    /*display: flex;
    flex-direction: column;*/
    text-align: center;
    
    
        
    
}
.reservations_info h2{
    /*width: 100%;
    
    font-size: 36px;
    font-weight: normal;      
    color: #cc9900;*/
    position: relative;
    font-family: YesevaOne;
   margin: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 0.9;
  font-weight: normal;
  color: #cc9900;
  text-align: center; }
  .reservations_info h2::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 50px;
    background: url("../source/gold_divider.png");
    left: 50%;
    transform: translateX(-50%);
    bottom: -60px; }

    

.reservations_info p{
    font-family: LatoRegular;
     width: 100%;  
     margin-bottom: 30px;   
     line-height: 1.5; 
   /*  padding-bottom: 50px;*/
    color: rgb(87,87,87);
}



.main-page{
    position: relative;
    z-index: 1;
}